<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.whitdan.arkhamhorrorlcgcampaignguide">

    <application
        android:name=".GlobalVariables"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Arkham Horror LCG"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".selectcampaign.SelectCampaignActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".campaignsetup.CampaignSetupActivity"
            android:parentActivityName=".selectcampaign.SelectCampaignActivity"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".scenariosetup.ScenarioSetupActivity"
            android:parentActivityName=".selectcampaign.SelectCampaignActivity"/>
        <activity
            android:name=".finishscenario.FinishScenarioActivity"
            android:parentActivityName=".selectcampaign.SelectCampaignActivity"/>
        <activity
            android:name=".standalone.StandaloneActivity"
            android:parentActivityName=".selectcampaign.SelectCampaignActivity"/>
    </application>

</manifest>